{{define "title"}}Home{{end}}

{{ define "body" }}
    <div class="mx-auto max-w-5xl">
        <h1 class="text-3xl my-8">UniboCalendar - Home</h1>


        <a class="btn btn-accent" href="/courses/">
            Vai ai Corsi
        </a>


    </div>

{{ end }}


{{template "base" . }}
